/* SASS variables */

/* Color */
$sidebar-bg: hsl(241deg 73% 19% / 100%);
$step-bg: hsl(238deg 56% 37% / 100%);
$conversion-bg: hsl(210deg 100% 96% / 100%);
$conversion-line: hsl(229deg 96% 56% / 100%);
$btn: hsl(171deg 91% 56% / 100%);
$border: hsl(203deg 18% 22% / 100%);
$sidebar-text: hsl(226deg 80% 88% / 100%);
$sidebar-text-2: hsl(198deg 100% 94% / 100%);
$curr-text: hsl(210deg 42% 5% / 100%);
$optional-text: hsl(226deg 26% 22% / 100%);
$btn-text: hsl(216deg 38% 11% / 100%);
$white: hsl(0deg 0% 100% / 100%);
$black: hsl(0deg 0% 0% / 100%);

/* Misc */
$box-shadow: 0 3px 7px #D7D9DE;